.link-bluesky {
  background:  rgb(108, 113, 115);
}

.link-threads {
  background: rgb(108, 113, 115);
  color: #080808;
}

.link-signal-messenger {
  background: rgb(166, 196, 248);
  color: #080808;
}